[submodule "external/coroutine2"]
	path = external/coroutine2
	url = https://github.com/boostorg/coroutine2
[submodule "external/assert"]
	path = external/assert
	url = https://github.com/boostorg/assert
[submodule "external/config"]
	path = external/config
	url = https://github.com/boostorg/config.git
[submodule "external/context"]
	path = external/context
	url = https://github.com/boostorg/context.git
[submodule "psd_sdk"]
	path = psd_sdk
	url = https://github.com/MolecularMatters/psd_sdk
